*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #080808;
    color: #fff;
}


.social-icons{
    right: 50px;
    bottom: 2%;
    width: 100%;
    height: 100%;
}

.social-icons .subtitle{
    color: rgb(231, 231, 231);
    padding-left: 50px;
    padding-top: 20px;
}

.social-icons a{
    color: #fff;
    padding: 25px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-icons span{
    color: rgb(255, 64, 0);
    padding-left: 45px;
}

.social-icons .harsha{
    margin-top: -34px;
}

.social-icons .harsha a{
    color: rgb(255, 64, 0)
}

/*----------------------------*/

@media only screen and (max-width:600px){
    .social-icons .subtitle{
        padding-left: 20px;
        padding-top: 20px;
        font-size: 20px;
    }
    .social-icons a{
        padding: 20px;
        padding-left: 30px;
        font-size: 20px;
    }
    .social-icons .harsha{
        margin-top: -26px;
    }
    .social-icons span{
        padding-left: 33px;
    }
}