*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    position: relative;
    width: 100%;
    height: 120vh;
    background-image: url(/images/InShot_20220903_123615251.jpg);
    background-size: cover;
    background-position: center;
}

#header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#header .navbar .logo a{
    color: rgb(146, 146, 146);
    font-size: 30px;
    margin-left: 50px;
}

#header .navbar .logo a{
    color: rgba(184, 0, 0, 0.795);
    text-decoration: none;
    position: relative;
}


#header .navbar .menu ul{
    margin-left: 192px;
}

#header .navbar .menu ul li{
    display: inline-block;
    margin-right: 35px;
    align-items: center;
}

#header .navbar .menu ul li{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

#header .navbar .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

#header .navbar .menu ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#header .navbar .menu ul li a:hover::after{
    width: 100%;
}

#header .banner{
    position: absolute;
    top: 35%;
    left: 0;
    color: rgb(206, 206, 206);
}

#header .banner .app-text{
    padding-left: 400px;
}

#header .banner .app-text h1{
    font-size: 50px;
    position: relative;
    margin-top: 30px;
    font-weight: 700;
    line-height: 1.3; 
}

#header .banner .app-text h1 span{
    color: #ff3b3b;
}

/*---------------------*/

@media only screen and (max-width:600px){
    #header{
        display: center;
        background-image: url(/images/19A91A04G0\(portfolio\).png);
    }

    #header .banner{
        left: 0;
        color: rgb(206, 206, 206);
        bottom: 70%;
    }
    
    #header .banner .app-text{
        padding-left: 30px;
    }
    
    #header .banner .app-text h1{
        font-size: 30px;
        margin-top: 250px;
    }

    #header .navbar{
        width: 10%;
        height: 45px;
    }
    
    #header .navbar .logo a{
        color: rgb(146, 146, 146);
        font-size: 20px;
        margin-left: 15px;
    }
    
    #header .navbar .logo a{
        color: rgba(255, 26, 26, 0.795);
    }

    #header .navbar .menu ul{
        margin-top: 70px;
        margin-left: 182px;
    }
    
    #header .navbar .menu ul li{
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    
    #header .navbar .menu ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        position: relative;
    }
    
    #header .navbar .menu ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    #header .navbar .menu ul li a:hover::after{
        width: 100%;
    }
}